body{
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;

}
a{
	color: #00abff;
	text-decoration: none;
}

h1{
	font-weight: normal;
	border-bottom: 1px solid #bbb;
	padding: 0 0 10px 0;
}

h2{
	font-weight: normal;
	margin: 30px 0 0;
}

#content {
	float: left;
	width: 60%;
	padding: 0 0 0 30px;
}

#sidebar {
	position: fixed;
	left: 70%;
	float: right;
	width: 30%;
	padding: 10px;
	background-color: #efefef;

}

p.date {
	color: #ccc;
	font-family: georgia;
	font-size: 12px;
	font-style: italic;

}

/*pagination*/
.pagination	{
	margin: 40px 0;
	font-weight: bold;
}

/*forms*/
label {
	float: left;
	clear: both;
	color: #333;
	margin-bottom: 4px;
}

input, textarea {
	clear: both;
	float: left;
	margin: 0 0 10px;
	background-color: #ededed;
	border: 0;
	padding: 6px 10px;
	font-size: 12px;
}

input[type=submit] {
	font-weight: bold;
	background: #00abff;
	color: #fff;
	padding: 10px 20px;
	font-size: 14px;
	text-transform: uppercase;
}

.comment {
	padding: 10px;
}
.comment .info {
	font-weight: bold;
	font-size: 12px;
	color: #666;
}

.comment:nth-child(even) {
	background: #efefef;
}